.addphoto{
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: auto,100%;
	position: fixed;
	top: 0px;
}

h2{
	text-align: center;
	font-family: Monospace, Serif;
	font-weight: bold;
}
.changecolor{
	background-color: #a4a4a4 !important;
}

.pannel-heading{
	background-color: #14f230 !important;	
}